.calendar-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  background-color: #12394f;
  padding: 10px;
  color: whitesmoke;
}

.weekdays div {
  flex-grow: 1;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.day {
  background-color: #fff;
  padding: 15px;
  margin: 2px;
  border: 1px solid lightgray;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
}

.empty {
  background-color: #28506b;
}

.selected {
  background-color: lightblue;
  border-radius: 5%;
  cursor: pointer;
}

.selected:hover {
  background-color: skyblue;
}

